<form method="post">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
  <div class="mb-3">
    <label>Email</label>
    <input type="email" name="email" class="form-control" required autofocus>
  </div>
  <div class="mb-3">
    <label>Mot de passe</label>
    <input type="password" name="password" class="form-control" required>
  </div>
  <button class="btn btn-primary">Se connecter</button>
</form>
