{% extends '@EasyAdmin/page/content.html.twig' %}
{% block content_title %}Catégories
{% endblock %}

{% block main %}
	<div class="content-panel">
		<a href="{{ path('admin_catalog_categories_new') }}" class="btn btn-success mb-3">
			<i class="fa fa-plus me-1"></i>Nouvelle catégorie
		</a>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Slug</th>
				</tr>
			</thead>
			<tbody>
				{% for c in categories %}
					<tr>
						<td>{{ c.name }}</td>
						<td>
							<code>{{ c.slug }}</code>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="2" class="text-muted text-center">Aucune catégorie</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
