# config/services.yaml
parameters:
  # Paramètres globaux si tu veux (facultatif)
  # mongodb_db: '%env(MONGODB_DB)%'

services:
  _defaults:
    autowire: true
    autoconfigure: true

  # 1) Enregistre toutes tes classes App\ comme services
  App\:
    resource: '../src/'

  # 2) Client MongoDB (vient du package composer mongodb/mongodb)
  'MongoDB\Client':
    class: 'MongoDB\Client'
    arguments:
      - '%env(MONGODB_URI)%'

  # 3) (Optionnel) La database Mongo côté catalogue
  MongoDB\Database:
    factory: ['@MongoDB\Client', 'selectDatabase']
    arguments:
      - '%env(MONGODB_DB)%'

  # MongoDB collections spécifiques catalogue (choisir dans les repositories)
  # Les repositories Catalog* sélectionneront directement leurs collections.
