{% extends 'base.html.twig' %}

{% block body %}
    <h1>Catalogue produits</h1>
    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ path('catalog_category', { slug: category.slug }) }}">{{ category.name }}</a>
                {% if category.children is defined and category.children is not empty %}
                    <ul>
                        {% for child in category.children %}
                            <li><a href="{{ path('catalog_category', { slug: child.slug }) }}">{{ child.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% else %}
            <li>Aucune catégorie synchronisée.</li>
        {% endfor %}
    </ul>
{% endblock %}
